.hero.has-background {
  position: relative;
  overflow: hidden;
}
.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}
.hero-background.is-transparent {
  opacity: 0.3;
}

.imagenboton {
	box-shadow: 8px -8px 0 -2px #8AEB32, 8px -8px 0 0 black;
	transition: box-shadow 0.3s ease-in-out;
}

.imagenboton:hover {
	box-shadow: 4px -4px 0 -2px #8AEB32, 4px -4px 0 0 black;
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out;
}

.imagenboton2 {
	box-shadow: 8px -8px 0 -2px #2947a1, 8px -8px 0 0 black;
	transition: box-shadow 0.3s ease-in-out;
}

.imagenboton2:hover {
	box-shadow: 4px -4px 0 -2px #2947a1, 4px -4px 0 0 black;
	opacity: 0.8;
	transition: opacity 0.3s ease-in-out;
}

.imgsize {
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-item .imgsize {
	max-height: unset; !important
}

.vertical {
	writing-mode: sideways-lr;
	margin-top: 1.5rem;
}

.card-igual {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: auto;
}

ol { 
	counter-reset: item;
}

ol li { 
	display: block;
}

ol li:before { 
	content: counters(item, ".") " "; counter-increment: item; 
}

.palabra {
	word-break: keep-all;
}

#webdev {
	color: #7a1f3d;
	font-weight: bold;
}

.slider-navigation-previous, .slider-navigation-next {
	color: #2947a1;
}

#card1 {
  background-image: url(../images/portada/planes.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-clip: border-box;
}

#card2 {
	background-image: url(../images/portada/programas.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-clip: border-box;
}

@media(max-width: 770px) {
	.reversed {
		/*flex-direction: column-reverse;*/
    		display: flex;
		flex-flow: column;
	}
	
	#elemento2 {
		order: 1;		
	}

	#elemento1 {
		order: 2;
	}

	.vertical {
		writing-mode: horizontal-tb;
	  margin-top: 1rem;
	}

}