{% extends "base.html" %}

{% block contenido %}
<section class="section">
	<div class="content">
		<div class="columns is-centered">
			<div class="column is-half has-text-centered">
				<p class="is-size-1 has-text-weight-bold mb-1">404</p>
				<p class="is-size-3 is-family-secondary">¡No encontramos la página que buscas!</p>
				<figure class="image">
					<img src="images/mancuerna.png" alt="Fotografía de una mancuerna" />
				</figure>
				<p class="is-family-secondary">(Se perdió como la pareja de esta mancuerna)</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}