{% extends "base.html" %}

{% block contenido %}
<section class="section">
	<div class="container">
		<figure class="image has-text-centered">
	  		<video autoplay disablepictureinpicture loop>
	  			<source src="images/Gymcortoweb3.mp4" type="video/mp4"/>
	  			<source src="images/Gymcortoweb3.webm" type="video/webm"/>
				Tu navegador no soporta.
			</video>
			<figcaption>Instalaciones de la sala de máquinas del gimnasio</figcaption>
		</figure>
		<div class="columns is-multiline is-vcentered">
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (1).jpg" alt="Fotografía de Squat rack">
		    		<figcaption>Squat rack</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (3).jpg" alt="Fotografía de Glute kick back machine">
		    		<figcaption>Glute kick back machine</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (5).jpg" alt="Fotografía de Leg extension machine">
		    		<figcaption>Leg extension machine</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (13).jpg" alt="Fotografía de Dumbbell rack">
		    		<figcaption>Dumbbell rack</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (30).jpg" alt="Fotografía de CrossFit Box">
		    		<figcaption>CrossFit Box</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (65).jpg" alt="Fotografía de Sala de máquinas">
		    		<figcaption>Sala de máquinas</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (26).jpg" alt="Fotografía de Barras olímpicas">
		    		<figcaption>Barras olímpicas</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (11).jpg" alt="Fotografía de Dual crossover">
		    		<figcaption>Dual crossover</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (17).jpg" alt="Fotografía de Air bikes">
		    		<figcaption>Air bikes</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (6).jpg" alt="Fotografía de máquina multifucional">
		    		<figcaption>Máquina multifucional</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (8).jpg" alt="Fotografía de polea alta">
		    		<figcaption>Polea alta</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (10).jpg" alt="Fotografía de press banco inclinado">
		    		<figcaption>Press banco inclinado</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (71).jpg" alt="Fotografía de prensa 45°">
		    		<figcaption>Prensa 45°</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (15).jpg" alt="Fotografía de Air rowing machine">
		    		<figcaption>Air rowing machine</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (34).jpg" alt="Fotografía de Smith machine">
		    		<figcaption>Smith machine</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (2).jpg" alt="Fotografía de leg curl machine">
		    		<figcaption>Leg curl machine</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (59).jpg" alt="Fotografía de banco Scott">
		    		<figcaption>Banco Scott</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (57).jpg" alt="Fotografía de hip thrust machine">
		    		<figcaption>Hip thrust machine</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (4).jpg" alt="Fotografía de Adductor & Abductor machine">
		    		<figcaption>Adductor & Abductor machine</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-one-quarter">
		    	<figure class="image">
		    		<img src="images/espacio/esp (20).jpg" alt="Fotografía de air ski machine">
		    		<figcaption>Air ski machine</figcaption>
		    	</figure>
		  	</div>
			<div class="column is-half">
		    	<figure class="image">
		    		<img src="images/espacio/esp (53).jpg" alt="Fotografía de press banca">
		    		<figcaption>Press banca</figcaption>
		    	</figure>
		  	</div>
		</div>
	</div>
</section>
{% endblock %}