{% extends "base.html" %}

{% block contenido %}
<section class="section">
	<div class="container">
		<p class="title has-text-white">Nuestro equipo</p>
		<div class="columns is-multiline is-centered">
			<div class="column is-one-third">
		    	<figure class="image">
		    		<img src="images/personal/josemora.jpg" alt="Fotografía de José Mora">
		    		<figcaption>
		    			<p>José Mora</p>
		    			<p>Director ejecutivo</p>
		    			<p>Kinesiólogo</p>
		    		</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-third">
		    	<figure class="image">
		    		<img src="images/personal/amandagonzalez.jpg" alt="Fotografía de Amanda González">
		    		<figcaption>
		    			<p>Amanda González</p>
		    			<p>Entrenadora</p>
		    			<p>Técnico deportivo de nivel superior</p>
		    		</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-third">
		    	<figure class="image">
		    		<img src="images/personal/matiasvalladares.jpg" alt="Fotografía de Matías Valladares">
		    		<figcaption>
		    			<p>Matías Valladares</p>
		    			<p>Entrenador</p>
		    			<p>Técnico deportivo de nivel superior</p>
		    		</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-third">
		    	<figure class="image">
		    		<img src="images/personal/devorasepulveda.jpg" alt="Fotografía de Dévora Sepúlveda">
		    		<figcaption>
		    			<p>Dévora Sepúlveda</p>
		    			<p>Personal administrativo</p>
		    		</figcaption>
		    	</figure>
		  	</div>
		  	<div class="column is-one-third">
		    	<figure class="image">
		    		<img src="images/personal/manuelmeza.jpg" alt="Fotografía de Manuel Meza">
		    		<figcaption>
		    			<p>Manuel Meza</p>
		    			<p>Nutricionista</p>
		    		</figcaption>
		    	</figure>
		  	</div>
		</div>
	</div>
</section>
{% endblock %}
