{% extends "base.html" %}


{% block contenido %}
<section class="section">
	<div class="container">
		<div class="content">
			<div class="columns">
	        	<div class="column is-8">
	            	<article class="box">
				       	<p class="title">Fitness Training</p>
				       	<div class="hero is-small is-dark has-background">
							<img alt="Fotografía de la sala de máquinas del gimnasio" class="hero-background is-transparent" src="images/programas/maquinas.jpg"/>
								<div class="hero-body">
									<div class="container">
										<h1 class="title">Sala de máquinas</h1>
									</div>
								</div>
						</div>
						<ul>
							<li class="is-family-secondary">Sistema de entrenamiento enfocado en aumentar la fuerza y  masa muscular.</li>
							<li class="is-family-secondary">Sala equipada para un entrenamiento muscular completo y efectivo.</li>
							<li class="is-family-secondary">Si no cuentas con experiencia en gimnasios, el entrenamiento en sala de maquinas es un entrenamiento recomendado para ti, ya que permite un mejor control de la intensidad de los ejercicios.</li>
							<li class="is-family-secondary">Entrenamientos selectivos separados por grupos musculares.</li>
						</ul>
				       	<div class="hero is-small is-dark has-background">
							<img alt="Fotografía de personas entrenando" class="hero-background is-transparent" src="images/programas/funcional.jpg"/>
								<div class="hero-body">
									<div class="container">
										<h1 class="title">Entrenamiento funcional</h1>
									</div>
								</div>
						</div>
						<ul>
							<li class="is-family-secondary">Sistema de entrenamiento que involucra múltiples grupos musculares por sesión.</li>
							<li class="is-family-secondary">Es un entrenamiento mas dinámico, incluye mayor cantidad de elementos en los ejercicios (como saltos, correr, levantamientos de peso, ejercicios de peso corporal, entre otros).</li>
							<li class="is-family-secondary">Este tipo de entrenamiento contempla un mayor gasto energético, control de peso corporal más rápido (baja de peso).</li>
						</ul>
						<div class="hero is-small is-dark has-background">
							<img alt="Fotografía de una persona sosteniendo una barra sobre su cabeza" class="hero-background is-transparent" src="images/programas/crossfit.jpg"/>
								<div class="hero-body">
									<div class="container">
										<h1 class="title">CrossFit</h1>
									</div>
								</div>
						</div>
						<ul>
							<li class="is-family-secondary">Es un sistema de entrenamiento físico que combina ejercicios funcionales de alta intensidad, como levantamiento de pesas, ejercicios cardiovasculares y movimientos gimnásticos, con el objetivo de desarrollar fuerza, resistencia y capacidad cardiovascular.</li>
							<li class="is-family-secondary">Se caracteriza por su constante variabilidad en los ejercicios y la intensidad de los entrenamientos, lo que desafía al usuario a superar sus límites.</li>
						</ul>
						<div class="hero is-small is-dark has-background">
							<img alt="Fotografía de la sala de CrossFit" class="hero-background is-transparent" src="images/programas/trx.jpg"/>
								<div class="hero-body">
									<div class="container">
										<h1 class="title">TRX</h1>
									</div>
								</div>
						</div>
						<ul>
							<li class="is-family-secondary">Es un método de ejercicio que utiliza un sistema de entrenamiento en suspensión.</li>
							<li class="is-family-secondary">Se utilizan bandas y anclajes para realizar una amplia variedad de ejercicios que desafían la fuerza, la estabilidad y la flexibilidad del cuerpo.</li>
							<li class="is-family-secondary">Entrenamiento de tipo funcional que permite trabajar todo el cuerpo sin la necesidad de pesos externos</li>
						</ul>
						<div class="hero is-small is-dark has-background">
							<img alt="Fotografía de la sala de bicicletas estáticas" class="hero-background is-transparent" src="images/programas/pilates.jpg"/>
								<div class="hero-body">
									<div class="container">
										<h1 class="title">Pilates</h1>
									</div>
								</div>
						</div>
						<ul>
							<li class="is-family-secondary">Es un sistema de ejercicio que se enfoca en el control corporal, el fortalecimiento de la zona media de cuerpo, la flexibilidad y la respiración para mejorar la salud física.</li>
							<li class="is-family-secondary">Se centra en el  fortalecimiento de músculos abdominales, lumbares, glúteos y músculos de la pelvis.</li>
						</ul>
					</article>
				</div>
				<div class="column">
		        	<article class="box">
						<p class="title">Senior Program</p>
						<ul>
							<li class="is-family-secondary">Programa diseñado para personas mayores que busquen mejorar su rendimiento físico y funcional a través de métodos de entrenamiento altamente seguros.</li>
							<li  class="is-family-secondary">Su objetivo es combatir las enfermedades y limitaciones asociadas a la falta de actividad.</li>
						</ul>
					</article>
					<article class="box">
						<p class="title">Sport Training</p>
						<ul>
							<li class="is-family-secondary">Entrenamiento personalizado para deportistas que requieran aumentar su rendimiento físico.</li>
							<li class="is-family-secondary">Cada programa de entrenamiento se centra en la noción de especialidad deportiva, logrando así un mejor performance a mediano y largo plazo.</li>
							<li class="is-family-secondary">Ciclismo, motocross, running, fútbol, tenis, entre otras disciplinas.</li>
						</ul>
					</article>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}