{% extends "base.html" %}
{% block contenido %}
<section class="section">
	<div class="content is-family-secondary">
		<p class="title is-uppercase has-text-centered">Términos y condiciones de uso de IFITGYM y delegación de responsabilidad del gimnasio</p>
		<div class="has-text-justified">
			<p>Por favor, lea detenidamente estos Términos y Condiciones de Uso antes de iniciar sus entrenamientos en IFITGYM. Estos Términos rigen su acceso y uso del Gimnasio, así como la delegación de responsabilidad del Gimnasio frente a problemas en la condición de salud de los usuarios. Al utilizar el Gimnasio, usted acepta estos Términos y acepta cumplirlos.</p>
			<ol>
				<li>Aceptación de los Términos:</li>
				<ol>
					<li>Al utilizar el Gimnasio, usted acepta cumplir con estos Términos y cualquier otra política aplicable establecida por el Gimnasio.</li>
				</ol>
				<li>Uso del Gimnasio:</li>
				<ol>
					<li>Uso Responsable: Usted acepta utilizar las instalaciones del Gimnasio de manera responsable y cumplir con todas las normas y regulaciones establecidas por el personal del Gimnasio.</li>
					<li>Elegibilidad: Debe ser mayor de edad para utilizar las instalaciones del Gimnasio. Si es menor de edad, se requiere la autorizacion de uno de los padres y supervisión de un entrenador.</li>
					<li>Planes de entrenamiento sin asesoría: los planes de acceso libre tendrán fecha limite respecto al día de inicio y si el plan corresponde a formato mensual, trimestral, semestral o anual, en ningún caso el plan de acceso al establecimiento se congelara de un mes para otro.</li>
					<li>Planes con asesoría: Esta modalidad incluye la asesoría de un entrenador en un periodo de tiempo determinado de acuerdo a cada plan (mensual, trimestral, semestral o anual), las asesorías solo podrán ser congeladas o recuperadas dentro de un periodo vencido, en caso de enfermedad, en donde corresponderá presentar documento de licencia medica relacionada con la enfermedad.</li>
				</ol>
				<li>Responsabilidad del Usuario:</li>
				<ol>
					<li>Delegación de Responsabilidad: Usted reconoce y acepta que el Gimnasio no es responsable de supervisar su condición de salud ni de proporcionar asesoramiento médico personalizado. Usted es el único responsable de su propia salud y bienestar.</li>
					<li>Consulta Médica: Se recomienda encarecidamente que consulte a un profesional de la salud antes de comenzar cualquier programa de ejercicios en el Gimnasio, especialmente si tiene condiciones médicas preexistentes o dudas sobre su salud.</li>
					<li>Notificación de Problemas de Salud: Si experimenta algún problema de salud durante su tiempo en el Gimnasio, debe notificar de inmediato al personal del Gimnasio. Sin embargo, comprende que el Gimnasio no asume responsabilidad por su salud o lesiones.</li>
				</ol>
				<li>Delegación de Responsabilidad del Gimnasio:</li>
				<ol>
					<li>Exoneración de Responsabilidad: El Gimnasio no será responsable por lesiones, daños o problemas de salud que usted pueda sufrir como resultado de su participación en las actividades y servicios del Gimnasio. Usted libera de toda responsabilidad legal al Gimnasio y a su personal por tales incidentes, asumiendo que la actividad física y deportiva implica cierto nivel de riesgo de lesiones.</li>
					<li>Emergencias Médicas: En caso de una emergencia médica, el Gimnasio puede tomar medidas para buscar asistencia médica en su nombre. Sin embargo, el Gimnasio no es responsable de los resultados de estas acciones.</li>
				</ol>
				<li>Revocación de Membresía:</li>
				<ol>
					<li>El Gimnasio se reserva el derecho de revocar su membresía en caso de incumplimiento grave de estos Términos o de las normas y regulaciones del Gimnasio.</li>
				</ol>
				<li>Cambios en los Términos:</li>
				<ol>
					<li>El Gimnasio se reserva el derecho de modificar estos Términos en cualquier momento. Las modificaciones entrarán en vigencia a partir de su publicación en las instalaciones del Gimnasio o en su sitio web. Es su responsabilidad revisar periódicamente estos Términos para conocer cualquier cambio.</li>
				</ol>
				<li>Contacto</li>
				<ol>
					<li>Ante cualquier tipo de duda o inquietud dirigirse a recepción o comunicarse por nuestros canales de comunicación disponibles en www.ifitgym.cl</li>
				</ol>
			</ol>
		</div>
	</div>
</section>
{% endblock %}